<section class="h-screen flex justify-center bg-[#FAFAF9] ">
  <article
    class="bg-[#FFFFFF] w-[360px] mt-[164px] h-fit text-[#6C727F] shadow-2xl rounded-xl"
  >
    <div class="border-b-2 p-4">
      <img
        src="/images/cactus_img.jpg"
        alt="foto de un cactus"
        class="rounded-[16px]"
      />
      <button
        class="font-bold text-[10px] bg-[#E6D6FC] text-[#883AE1] rounded-lg my-[13px] px-4 p-[3px]"
        >Design</button
      >
      <h1 class="text-[#20293A] text-[18px] mb-[6px] font-bold">Embracing Minimalism</h1>
      <p class="text-[14px] pr-10 ">
        From minimalist sculptures to minimalist paintings, this blog will
        inspire you to appreciate the beauty that lies in simplicity.
      </p>
    </div>
    <p class="text-[12px] p-4 ">Annie Spratt</p>
  </article>
</section>
